@media screen and (max-width: 768px) {
    .container {
        margin: 0;
    }

    .bottom-container {
        padding: 0;

    }

    .top-ground {
        background-image: url(../imgs/top-ground-res.png);
        background-size: cover;
        background-position: center;
        height: 35vh;
        min-height: auto;
        padding: 0;
    }

    .container {
        margin: 5px;
    }

    .bottom-ground {
        background-image: url(../imgs/bottom-ground-res.png);
        background-size: cover;
        background-position: center;
        margin-top: -60px;
        padding: 0;
        border-radius: 25px;
    }

    .bottom-ground .right {
        display: none;
    }

    .bottom-ground .left {
        margin-top: 30px;

    }

    .about-us .container {
        flex-direction: column-reverse;
    }

    .about-us .left .three .boxcard {
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;

    }

    .about-us .left .three .content {
        left: 89px;
        bottom: 40px;
    }

    .about-us .left {
        grid-template-columns: 1fr;
    }

    .about-us .left .two {
        grid-column: 1;
        grid-row: 1;
        width: 335px;
        height: 234px;
    }

    .about-us .left .three {
        grid-column: 1;
        width: 335px;
        height: 234px;
    }

    .about-us .left .one {
        grid-column: 1;
        grid-row: 3;
    }

    /* ******************  information section ******************  */
    .information {
        overflow-x: hidden;
        padding: 0;
    }

    .information .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        margin: 0 auto;
    }

    .information .container .center {
        grid-column: 1 / -1;
        grid-row: 1;
        justify-self: start;
    }

    .information .center img {
        width: 358px;
        height: 453px;
        margin: 0 auto;
    }

    .information .container .one {
        grid-row: 2;
        grid-column: 1;
    }

    .information .container .two {
        grid-row: 2;
        grid-column: 2;
    }

    .information .container .three {
        grid-row: 2;
        grid-column: 3;
    }

    .information .container .four {
        grid-row: 2;
        grid-column: 4;
    }

    .information .box {
        width: 236px;
        height: 292px;
        padding-bottom: 12px;
        padding-top: 12px;
    }



}