@media screen and (max-width: 768px) {

    .container {
        margin: 0;
    }

    /* ****************** header ****************** */
    header {
        padding: 20px;
        border-bottom: 1px solid #F2F2F2;
        background-color: white;
    }

    header .menuebar,
    header nav .closebar {
        display: block;
        cursor: pointer;
    }

    header nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #FCFDFF;
        transition: 0.4s;
        padding: 30px;
        z-index: 1000;
    }

    /* لما تتفتح */
    header nav.active {
        left: 0;
    }

    header nav ul {
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        margin-top: 60px;
    }

    header nav ul li a {

        font-size: 20px;
    }

    header nav .closebar {
        display: block;
        position: absolute;
        bottom: 170px;
        left: 140px;
        cursor: pointer;
        border: 2px solid #666666;
        padding: 15px 20px;
        border-radius: 50%;
    }

    header .login {
        display: none;
    }

    /* ****************** main-section *******************/
    .main-section {
        padding: 0 20px;
    }

    .main-section .heading {
        flex-direction: column;
        margin-bottom: 0;
        gap: 0;
        margin-bottom: 20px;
padding-top: 10px;
    }

    .main-section .heading h1,
    .main-section .heading h2 {
        font-size: 24px;
        text-align: center;
    }

    .main-section .heading h2 {
        font-size: 23px;

    }

    /* top-ground */
    .top-ground {
        background-image: url(../imgs/top-ground-res.png);
        background-size: cover;
        background-position: center;
        height: 35vh;
        width: 100%;
        max-width: 400px;
        margin: 0;
        min-height: auto;
    }

    .bottom-ground {
        background-image: url(../imgs/bottom-ground-res.png);
        background-size: cover;
        background-position: center;
        margin-top: -70px;
        padding: 0;
        border-radius: 25px;
    }

    .bottom-ground .right {
        display: none;
    }

    .bottom-ground .left {
        margin-top: 30px;

    }

    /* ****************** bottom-container ****************** */
    .bottom-container {
        padding: 0;
    }

    /* ****************** about us ****************** */
    .about-us .container {
        flex-direction: column-reverse;
    }

    .about-us .left .three .boxcard {
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;

    }

    .about-us .left .three .content {
        left: 89px;
        bottom: 40px;
    }

    .about-us .left {
        grid-template-columns: 1fr;
    }

    .about-us .left .two {
        grid-column: 1;
        grid-row: 1;
        width: 335px;
        height: 234px;
    }

    .about-us .left .three {
        grid-column: 1;
        width: 335px;
        height: 234px;
    }

    .about-us .left .one {
        grid-column: 1;
        grid-row: 3;
    }

    /* ******************  information section ******************  */
    .information {
        overflow-x: hidden;
        padding: 0;
    }

    .information .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        gap: 10px;
        margin: 0 auto;
    }

    .information .container .center {
        grid-column: 1 / -1;
        grid-row: 1;
        justify-self: start;
        width: 100%;
        max-width: 400px;

    }

    .information .center img {
        width: 100%;
        height: auto;
        /* display: block; */
    }

    .information .container .one {
        grid-row: 2;
        grid-column: 1;
    }

    .information .container .two {
        grid-row: 2;
        grid-column: 2;
    }

    .information .container .three {
        grid-row: 2;
        grid-column: 3;
    }

    .information .container .four {
        grid-row: 2;
        grid-column: 4;
    }

    .information .box {
        width: 236px;
        height: 292px;
        padding-bottom: 12px;
        padding-top: 12px;
    }

    /* ******************  testimonials section ******************  */

    .testimonials {
        overflow: hidden;
        padding: 40px;
        margin: 0 auto;
    }

    .testimonials .container {
        padding-bottom: 0;

    }

    .testimonials .heading p {
        font-size: 18px;
        width: 341px;
    }

    .testimonials .container {
        display: flex;
        gap: 16px;
        transform: translateX(90px);
    }

    .testimonials .box {
        width: 90vw;
        flex-shrink: 0;
    }

    .testimonials .box .top {
        gap: 5px;
    }

    .testimonials .three,
    .testimonials .seven {
        transform: translateY(0);
    }

    /* ******************  footer ******************  */
    footer {
        padding-top: 110px;
    }

    footer .player-img {
        top: 185px;
    }

    footer .player-img {
        top: 0;
        left: 0;
    }

    footer .player-img img {
        width: 268px;
        height: 276px;

    }

    footer .center {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 60px 0 60px;
        gap: 30px;
    }

    footer .center>div {
        height: 202px;
        max-width: 157px;
    }

    footer .content {
        margin: 0 0 40px 0;
        padding: 120px 20px 60px;
    }

    footer .top p {
        font-size: 24px;
    }

    footer .subscribe-field {
        width: 320px;
    }

    footer .center p {
        font-weight: 400;
    }

    footer .center .four h2 {
        font-size: 16px;
    }

    footer .bottom {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

}